.about {
  overflow: hidden;
}

.img-wrapper {
  @include flex-box;

  height: 6rem;
}

.banner {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    user-select: none;
  }

  .center {
    @include flex-box($dir: column);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 20vh;
      color: white;
      font-weight: 700;
      text-shadow: 2px 5px #00000010, -2px -5px #00000010;
    }

    .btn {
      color: white;
      background-color: $lightbg;
      font-size: 1.5rem;

      &:hover {
        background-color: lighten($lightbg, 10%);
      }
    }
  }
}

$gradient: linear-gradient(to bottom right, $tl, $br);

// $tl: #742a7e;
// $br: #2a136b;

.content {
  $max-width: 70vw;

  position: relative;

  .stats {
    @include flex-box($just: space-around);

    padding: 3rem 0;
    width: 100vw;
    overflow: visible;

    .info-card {
      @include flex-box($just: flex-start, $dir: column);

      width: 30vw;
      background: $gradient;
      padding: 0.5rem 2rem;
      color: white;
      border-radius: 1rem;
      box-shadow: 0.5rem 1rem 1.3rem 0.4rem #00000052;
      height: 45vh;

      * {
        flex: 1;
      }

      svg {
        margin-bottom: 0.5rem;
        height: 4rem;
        g {
          fill: white;
        }
      }

      h1 {
        padding: 0;
        padding-top: 0.5rem;
        font-size: 10vh;
        flex: 2;
        color: white;
        overflow: visible;
      }

      p {
        color: #f1f1f1;
        font-size: 1.2rem;
        text-align: center;
        overflow: visible;
      }
    }
  }

  .paragraph {
    font-size: 1.6rem;
    margin: 3rem auto;
    max-width: $max-width;
    overflow: visible;
  }

  .demo-wrapper {
    @include flex-box($dir: column);

    margin: 2rem auto;
    max-width: $max-width;
  }

  .big {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 4rem;
    padding-left: (100vw - $max-width)/2;
  }

  h1 {
    font-size: 5.5rem;
    padding-left: (100vw - $max-width)/2;
  }

  .highlight {
    color: $lightbg;
    font-weight: 600;
  }

  .text-block {
    padding: 3.4rem 0;
    width: 100vw;
    color: #333333;
  }

  .gradient {
    background: $gradient;
    color: white;
  }

  .email {
    font-weight: 600;
  }

  .demo-img {
    max-height: 75vh;
    max-width: 70vw;
  }

  .pic-with-desc {
    @include flex-box;

    margin: 3rem 0;

    * {
      flex: 1;
    }

    img {
      object-fit: scale-down;
    }

    p {
      margin: 3rem;
      margin-right: 0;
      font-size: 1.3rem;
    }
  }

  .profile {
    @include flex-box;

    padding: 1.2rem 2.5rem;
    box-shadow: 0.4rem 0.6rem 0.8rem 0.4rem #0000001a;
    border-radius: 1rem;
    margin: 4rem 0;

    &-pic {
      @include flex-box;
      flex: 1;

      img {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-main {
      flex: 6;
    }

    &-links {
      @include flex-box($just: space-around);
      flex: 1;
    }
  }

  .contact-btn {
    padding: 1rem 0.7rem;
    color: white;
    border: 1px solid white;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    margin: 1.3rem 0;
    position: relative;
    left: 15vw;
    margin-bottom: 3rem;

    a {
      color: white;
    }
  }
}

@media screen and (max-width: 750px) {
  .absolute-nav {
    height: 100%;
    background: transparent;
    pointer-events: none;
    box-shadow: none;

    .img-wrapper {
      @include trans(transform);

      position: absolute;
      top: 0;
      width: 100%;
      pointer-events: all;
      background-color: $lightbg;
      box-shadow: 0 0.5rem 1rem 0.5rem #00000042;
    }

    .btn-wrapper {
      @include trans(transform);

      pointer-events: all;
      box-shadow: 0 -0.5rem 1rem 0.5rem #00000042;
    }
  }

  .banner {
    height: 50vh;
    img {
      height: 50vh;
      object-fit: cover;
    }

    .center {
      h1 {
        font-size: 20vw;
      }

      .btn {
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .paragraph {
    overflow: visible;
  }

  .content {
    .pic-with-desc {
      flex-direction: column;
      overflow: visible;

      img {
        width: 100vw;
      }

      p {
        margin: 2rem 0;
      }
    }

    .profile {
      flex-direction: column;
      padding: 2.5rem 0;

      &-main {
        margin: 2rem 0;
        text-align: center;
      }

      &-links {
        width: 5rem;
      }
    }

    .stats {
      flex-direction: column;
      height: 165vh;
      padding-bottom: 0;

      .info-card {
        width: 80vw;
        padding: 2.6rem 0.4rem;

        svg {
          margin: 1rem;
        }

        p {
          margin: 1rem;
        }

        div {
          flex: 0;
        }
      }
    }

    h2 {
      font-size: 3.5rem;
    }
    h1 {
      font-size: 4.5rem;
    }

    .demo-wrapper {
      max-width: 95vw;

      .demo-img {
        max-width: 100%;
      }
    }

    .email {
      text-overflow: ellipsis;
    }

    div {
      flex-direction: column;

      p {
        margin: 2rem;
      }

      img {
        width: 100%;
      }
    }
  }
}
