.about {
  overflow: hidden;
}

$animdur: 0.5s;
$animdelay: 0.3s;
$animtrans: 3rem;

* {
  &:focus {
    border: 4px solid black !important;
  }
}

.img-wrapper {
  @include flex-box;

  height: 6rem;
}

.banner {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    user-select: none;
  }

  .center {
    @include flex-box($dir: column);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 20vh;
      color: white;
      font-weight: 700;
      text-shadow: 2px 5px #00000010, -2px -5px #00000010;
      opacity: 0;

      animation: fade-down $animdur cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    .btn {
      color: white;
      background-color: $lightbg;
      font-size: 1.5rem;
      opacity: 0;
      animation: fade-down $animdur cubic-bezier(0.215, 0.61, 0.355, 1) $animdelay forwards;

      &:hover {
        background-color: lighten($lightbg, 10%);
      }

      &:focus {
        border-color: white !important;
      }
    }
  }
}

$gradient: linear-gradient(to bottom right, $tl, $br);

.content {
  $max-width: 70vw;

  position: relative;

  .stats {
    @include flex-box($just: space-around);

    padding: 3rem 0;
    padding-top: 6rem;
    width: 100vw;
    overflow: visible;

    &.-hide {
      .info-card {
        opacity: 0;
        transform: translateY(-$animtrans);
      }
    }
    &.-show {
      .info-card {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .info-card {
      @include flex-box($just: flex-start, $dir: column);

      width: 30vw;
      background: $gradient;
      padding: 0.5rem 2rem;
      color: white;
      border-radius: 1rem;
      box-shadow: 0.5rem 1rem 1rem #00000052;
      height: 45vh;

      @for $i from 0 to 3 {
        &:nth-child(#{$i + 1}) {
          transition: opacity $animdur linear $animdelay * $i, transform $animdur cubic-bezier(0.215, 0.61, 0.355, 1) $animdelay * $i;
        }
      }

      * {
        flex: 1;
      }

      svg {
        margin-bottom: 0.5rem;
        height: 4rem;
        g {
          fill: white;
        }
      }

      h1 {
        padding: 0;
        padding-top: 0.5rem;
        font-size: 10vh;
        flex: 2;
        color: white;
        overflow: visible;
      }

      p {
        flex: 1;
        color: #f1f1f1;
        font-size: 1.2rem;
        text-align: center;
        overflow: visible;
      }
    }
  }

  .paragraph {
    font-size: 1.6rem;
    margin: 3rem auto;
    max-width: $max-width;
    overflow: visible;
  }

  .demo-wrapper {
    @include flex-box($dir: column);

    margin: 0 auto;
    padding: 2rem 0;
    max-width: $max-width;
  }

  .big {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 4rem;
    padding-left: (100vw - $max-width)/2;
  }

  h1 {
    transition: opacity 0.3s linear, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    font-size: 5.5rem;
    padding-left: (100vw - $max-width)/2;
  }

  .highlight {
    color: $lightbg;
    font-weight: 600;
  }

  .text-block {
    padding: 3.4rem 0;
    width: 100vw;
    color: #333333;

    &.-show {
      * {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    &.-hide {
      * {
        opacity: 0;
        transform: translateY(-$animtrans);
      }
    }

    * {
      @for $i from 0 to 100 {
        &:nth-child(#{$i + 1}) {
          transition: opacity $animdur linear $animdelay * $i, transform $animdur cubic-bezier(0.215, 0.61, 0.355, 1) $animdelay * $i;
        }
      }
    }
  }

  .gradient {
    background: $gradient;
    color: white;

    .btn {
      @include trans(box-shadow);

      background: transparent;
      border: 1px solid white;

      &:hover {
        background: transparent;
        box-shadow: 0.5rem 0.35rem 10px 4px #0000002d;
      }
    }
  }

  .email {
    font-weight: 600;
  }

  .demo-img {
    @include trans;

    max-height: 75vh;
    max-width: 70vw;

    &.-hide {
      opacity: 0;
      transform: translateY(-$animtrans);
    }
    &.-show {
      opacity: 1;
      transform: translateY(0);
    }
  }

  ul {
    overflow: visible;
  }

  .pic-with-desc {
    @include flex-box;

    margin: 3rem auto;

    * {
      flex: 1;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    p {
      margin: 3rem;
      margin-right: 0;
      font-size: 1.3rem;
    }
  }

  .profile-wrapper {
    font-size: 1.6rem;
    margin: 3rem auto;
    max-width: $max-width;
    overflow: visible;

    &.-hide {
      .profile {
        opacity: 0;
        transform: translateY(-$animtrans);
      }
    }
    &.-show {
      .profile {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .profile {
    @include flex-box;

    @for $i from 0 to 5 {
      &:nth-child(#{$i + 1}) {
        transition: opacity $animdur linear $animdelay * $i, transform $animdur cubic-bezier(0.215, 0.61, 0.355, 1) $animdelay * $i;
      }
    }

    padding: 1.2rem 2.5rem;
    box-shadow: 0.4rem 0.6rem 0.8rem #0000001a;
    border-radius: 1rem;
    margin: 4rem 0;
    background: #fafafa;

    h6 {
      font-size: 1.6rem;
    }

    &-pic {
      @include flex-box;
      flex: 1;

      img {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-main {
      flex: 6;
      padding: 0 2rem;

      p {
        font-size: 1.1rem;
        color: #555555;
      }
    }

    &-links {
      @include flex-box($just: space-around);
      flex: 1;
    }
  }

  .contact-btn {
    padding: 1rem 0.7rem;
    color: white;
    border: 1px solid white;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    margin: 1.3rem 0;
    position: relative;
    left: 15vw;
    margin-bottom: 3rem;

    a {
      color: white;
    }
  }
}

@media screen and (max-width: 750px) {
  .absolute-nav {
    height: auto;
    background: transparent;
    pointer-events: none;
    box-shadow: none;
    top: 0;
    bottom: 0;

    .img-wrapper {
      @include trans(transform);

      position: absolute;
      top: 0;
      width: 100%;
      pointer-events: all;
      background-color: $lightbg;
      box-shadow: 0 0.5rem 1rem 0.5rem #00000042;
    }

    .btn-wrapper {
      @include trans(transform);

      pointer-events: all;
      box-shadow: 0 -0.5rem 1rem 0.5rem #00000042;
    }
  }

  .banner {
    height: 50vh;
    img {
      height: 50vh;
      object-fit: cover;
    }

    .center {
      h1 {
        font-size: 20vw;
      }

      .btn {
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .content {
    &:last-child {
      padding-bottom: 5vh;
    }

    .text-block {
      padding: 2rem;
    }

    .paragraph {
      overflow: visible;
      font-size: 1.3rem;
      margin: 1.7rem auto;
    }

    .pic-with-desc {
      flex-direction: column;
      overflow: visible;
      margin-bottom: 0;

      img {
        width: 100vw;
      }

      p {
        margin: 2rem 0;
        font-size: 1.1rem;
      }
    }

    .profile {
      flex-direction: column;
      padding: 2.5rem 0;
      margin: 2.5rem 0;

      &-main {
        margin: 2rem 0;
        text-align: center;
      }

      &-links {
        width: 5rem;
      }
    }

    .stats {
      flex-direction: column;
      height: 165vh;
      padding-bottom: 0;
      padding-top: 3rem;

      .info-card {
        width: 80vw;
        padding: 2.6rem 0.4rem;

        svg {
          margin: 1rem;
        }

        p {
          margin: 1rem;
        }

        div {
          flex: 0;
        }
      }
    }

    h2 {
      font-size: 2.5rem;
      padding-left: 1.7rem;
    }
    h1 {
      font-size: 3.2rem;
      padding-left: 1.7rem;
    }

    .demo-section {
      padding: 1rem;

      h1 {
        padding-left: 2.7rem;
      }
    }
    .demo-wrapper {
      max-width: 100vw;

      .demo-img {
        max-width: 100%;
      }
    }

    .email {
      max-width: 70vw;
      overflow-wrap: break-word;
    }

    div {
      flex-direction: column;

      img {
        width: 100%;
      }
    }
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-35%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
