@import './variables';

$disable: #b3b3b3;

.demo {
  @include flex-box($just: flex-start, $dir: column);

  height: var(--vh);
  background: linear-gradient(to bottom right, $tl, $br);
  // background: $background;
  width: 100vw;
  color: white;

  .btn {
    @include trans(all);

    background-color: transparent;
    border: 1px solid white;
    box-shadow: none;
    color: white;

    &:disabled {
      background-color: transparent;
      border: 1px solid $disable;
      color: $disable;

      &:hover {
        border: 1px solid $disable;
        background-color: transparent;
      }
    }

    &:hover {
      background: transparent;
      box-shadow: 0.5rem 0.35rem 10px 4px #0000002d;
    }
  }
}

.file-name {
  margin-top: 5vh;
  font-size: 1.1rem;
}

.btn {
  @include trans(background-color);

  margin-top: 3vh;
  padding: 0.7rem 1.5rem;
  color: rgb(216, 216, 216);
  background-color: $lightbg;
  border-radius: 0.4vh;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 5px 2px 10px 4px #0000001f;
  outline: none;

  &:disabled {
    background-color: $disable;
    cursor: auto;
    box-shadow: none;
    border: none;

    &:hover {
      background-color: $disable;
      border: none;
      box-shadow: none;
    }
  }

  &:hover {
    background-color: $lightHighlight;
  }

  &:active {
    text-decoration: none;
    outline: none;
  }
}

.download {
  @include trans(background-color);

  margin-top: 1vh;
  padding: 0.9rem 1.8rem;
  background-color: $highlight;
  border-radius: 0.3vh;
  font-size: 1.2rem;

  &:hover {
    cursor: pointer;
    background-color: $lightHighlight;
  }

  &:active {
    text-decoration: none;
  }
}
