.form-wrapper {
  @include flex-box;

  position: fixed;
  width: 100%;
  height: var(--vh);
  z-index: 100;
  background: #00000069;

  $greyed: #444444;

  .tab-bar {
    margin-bottom: 1rem;
    position: relative;

    button {
      color: $greyed;
      text-align: left;
      width: 8ch;
      font-size: 0.9rem;
      font-weight: 500;
      cursor: pointer;

      &.sel,
      &:hover {
        color: black;
      }

      &:focus {
        border: none !important;
      }
    }

    .close {
      font-size: 1.1rem;
      margin-left: auto;
      display: inline-block;
      position: absolute;
      right: 0;
      width: fit-content;
    }

    .highlight {
      transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 6ch;
      margin-top: 2px;
      height: 4px;
      background: $highlight;
      display: block;
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .form {
    padding: 2rem 3.5rem;
    background-color: $lbg;
    box-shadow: 0.4rem 0.6rem 0.8rem #0000001a;
    width: min-content;
    border-radius: 1rem;

    label {
      font-weight: 600;
      color: currentColor;
      font-size: 1.3rem;
      color: $greyed;
    }

    input {
      display: block;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      background-color: white;
      border-radius: 0.3rem;
      padding: 1ch;
      font-size: 1.1rem;
      border: 2px solid rgb(221, 221, 221);

      &:focus {
        border: 2px solid black !important;
      }

      &::placeholder {
        font-size: 1rem;
      }
    }

    .password {
      @include flex-box(space-between);
      color: $greyed;

      button {
        color: currentColor;
        font-weight: 600;
        cursor: pointer;

        &:focus {
          border: none !important;
        }
      }
    }

    .otp {
      overflow: hidden;
      transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateX(calc(100% + 7rem));
      height: 0;

      &.-forward {
        transform: translateX(0);
        height: 6.2rem;
      }

      .question {
        font-size: 0.7rem;
        color: $greyed;
        border: 1px solid $greyed;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        text-align: center;
        margin-left: 0.5rem;
      }
    }

    .btn {
      margin-top: 0.5rem;
      margin-bottom: 0.8rem;
      width: 11ch;
    }
  }
}

@keyframes from-right {
  from {
    transform: translateX(calc(100% + 7rem));
    height: 0;
  }
  to {
    transform: translateX(0);
    height: 6.2rem;
  }
}
