@import "./variables";

.absolute-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  .btn {
    background: transparent;
  }
}

.nav-bar {
  @include flex-box(space-between);

  width: 100vw;
  height: 6rem;
  background: $lightbg;
  z-index: 1;
  box-shadow: 0 0.5rem 1rem 0.5rem #00000042;

  .logo {
    height: 100%;
  }

  img {
    margin-left: 3vw;
    height: 100%;
    max-width: 95vw;
    max-height: 90%;
  }

  .btn-wrapper {
    @include flex-box(space-around);

    margin-right: 3vw;
  }

  .btn {
    @include flex-box;
    @include trans(background-color);

    padding: 0.5rem 1rem;
    border-radius: 0.5vh;
    border: 1px solid white;
    margin: 0;
    margin-left: 2rem;
    color: white;
    box-shadow: none;

    &.selected {
      background-color: lighten($lightHighlight, $amount: 5%);

      &:hover {
        background-color: lighten($lightHighlight, 10%);
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $lightHighlight;
    }
  }
}

@media screen and (max-width: 750px) {
  .nav-bar {
    height: 10vh;
    justify-content: center;

    img {
      margin: 0;
    }

    .btn-wrapper {
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 10vh;
      background-color: $lightbg;
      margin: 0;

      &.mobile-bg {
        background-color: $background;
      }

      .btn {
        margin: 0;
      }
    }
  }
}
