$background: #f6f6f6;
$lbg: #fafafa;
$lightbg: #174e88;
$text_color: black;
$highlight: #0342be;
$lightHighlight: #044dd6;

$tl: #163495;
$br: #1a7d8a;
// #285bd7

@mixin flex-box($just: center, $align: center, $dir: row) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $dir;
}

@mixin trans($to_trans: all, $time: 140ms, $func: linear) {
  transition: $to_trans $time $func;
}
