@import "./variables";

.file-name {
  margin-top: 5vh;
  font-size: 1.1rem;
}

.submit-btn {
  @include trans(background-color);

  margin-top: 3vh;
  padding: 1.3% 3.2%;
  background-color: $highlight;
  border-radius: 0.4vh;
  font-size: 1.4rem;

  &:hover {
    cursor: pointer;
    background-color: $lightHighlight;
  }

  &:active {
    text-decoration: none;
  }
}
