$background: #252524;
$lightbg: #2f2f2f;
$text_color: white;
$highlight: #3c61a9;
$lightHighlight: #4277dd;

@mixin flex-box($just: center, $align: center, $dir: row) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $dir;
}

@mixin trans($to_trans: all, $time: 140ms, $func: linear) {
  transition: $to_trans $time $func;
}
